body {
    background-color: DarkViolet;
}

hr {
    background-color: DarkViolet;
    border-style: dotted none none;
    border-width: 10px;
    border-color: #66bfbf;
    border-color: grey;
    width: 25%;
}

.HELLO {
    color: white;
}

#contact {
    color: green
}
